body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #1a1b1d;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  align-items: center; 
}
h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }
}
.logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}
.instagram-section h2 {
  color: white;           
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.instagram-section{
    width: 50%;
}
.mainpic img{
  width: 100vw;      /* makes the image 60% of its container's width */
  height: auto;     /* keeps the aspect ratio */
  display: block;   /* so margin auto works */
  margin: 10px auto; /* centers horizontally and adds vertical space */
  border-radius: 8px; /* optional, for rounded corners */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); /* optional, for subtle shadow */

}
.nav-links {
  display: flex;
  gap: 50px;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  z-index: 100;
}
.nav-links a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100 !important;
  font-style: normal;
  font-size: 1.5rem;
  color: #f8f6f6;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #efb7b7;
}
.tagline-section {
  width: 100%;
  text-align: center;
  padding: 60px 20px 40px;
  background-color: #1a1b1d;
}

.tagline {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6;
  color: #ffffff;
  max-width: 700px;
  margin: 0 auto;
  letter-spacing: 0.5px;
}